.App {
  text-align: center;
  background-color: rgb(27,27,27);
  font-family: 'Special Elite', 'Courier New', Courier, monospace;
}

.loading {
  height: 100%;
  width: 100%;
  pointer-events: none;
	display: table;
  position: absolute;
  background-color: rgb(27, 27, 27);
}

.loading-in {
  display: table-cell;
	vertical-align: middle;
}

.loading-in img {
  height: 20vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .loading-in {
    animation: loading-spin infinite 1.5s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes loading-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ol-attribution {
  display: none;
}